<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>
        ts-app
    </title>

    <%- include('./_livereload'); %>

    <link rel="stylesheet" href="/<%= assetsJSON.web.css %>">
</head>

<body>
    
    <div id="root"></div>
    <script src="/<%= assetsJSON.web.js %>"></script>
</body>

</html>
